/* Color: Light purple - #F3E9F2, Medium purple - B57096, Dark purple - #905BF9, Text - #24111F */

/* Global */
body {
    font-family: 'Montserrat', sans-serif;
    color: #24111F;
}
a {
    color: #24111F;
    text-decoration: none;
}
a:hover {
    color: #24111F;
}
a:visited {
    color: #24111F;
}
li {
    list-style: none;
}

/* Mobile First */
    /* Header */
        header {
            background-color: #F3E9F2;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        nav > a {
            width: 200px;
        }
        nav img {
            width: 90%;
            height: auto;
        }
        .fa-shopping-bag {
            font-size: 1.7em;
            padding-right: 20px;
        }
        
    /* Main */
        /* index.html */
            /* Section 1: Presentation */
                .jumbotron {
                    position: relative;
                }
                .jumbotron img {
                    width: 100%;
                    height: 100%;
                }
                .jumbotron > .jmb-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    opacity: 0.8;
                    text-align: center;
                    text-shadow: 1px 1px 2px #24111F;
                }
                .jmb-text h1 {
                    color: #F3E9F2;
                    font-size: 2.7em;
                    font-weight: 600;
                }
                .jmb-text h1 span {
                    color: #905BF9;
                }
                .jmb-text h2 {
                    color: #F3E9F2;
                    font-size: 1.2em;
                    font-weight: 600;
                }
            /* Section 2: Products */
                #cards {
                    display: flex;
                    flex-direction: column;
                }
                .card-image > img {
                    width: 100%;
                    height: 290px;
                }
                .card-body {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .card-body h3, h4 {
                    font-size: 1.3em;
                }
                
        /* produit.html */
        /* panier.html */
        /* confirmation.html */
    /* Footer */
        footer {
            background-color: #F3E9F2;
            margin: 0;
        }
        footer p {
            font-size: 1em;
        }



/* Responsive Web */
    /* Mobile Extra-Small */
    @media (max-width: 320px) {
        /* Header */
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 2.2em;
                    }
                    .jmb-text h2 {
                        font-size: 1em;
                    }
                /* Section 2: Products */
                    .card-image > img {
                        width: 100%;
                        height: 200px;
                    }
                    .card-body h3, h4 {
                        font-size: 1.1em;
                    }
        /* Footer */
    }

    /* Between Mobile and Tablette : 1 */
    @media screen and (min-width: 450px) and (max-width: 580px) {
        /* Header */  
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 2.9em;
                    }
                    .jmb-text h2 {
                        font-size: 1.3em;
                    }
                /* Section 2: Products */
                    .card-image > img {
                        height: 370px;
                    }
        /* Footer */
    }

    /* Between Mobile and Tablette : 2 */
    @media screen and (min-width: 581px) and (max-width: 767px) {
        /* Header */  
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 3.3em;
                    }
                    .jmb-text h2 {
                        font-size: 1.5em;
                    }
                /* Section 2: Products */
                    .card-image > img {
                        height: 420px;
                    }
        /* Footer */
    }

    /* Tablette */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /* Header */  
            nav img {
                width: 100%;
            }
            .fa-shopping-bag {
                padding-right: 25px;
            }
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 5em;
                    }
                    .jmb-text h2 {
                        font-size: 1.73em;
                    }
                /* Section 2: Products */
                    #cards {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    #products__card {
                        width: 48%;
                    }
                    .card-image > img {
                        height: 330px;
                    }
        /* Footer */
    }

    /* Desktop */
    @media screen and (min-width: 992px) {
        /* Header */  
            nav img {
                width: 100%;
            }
            .fa-shopping-bag {
                padding-right: 25px;
            }
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 6.5em;
                    }
                    .jmb-text h2 {
                        font-size: 1.5em;
                    }
                /* Section 2: Products */
                    #cards {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    #products__card {
                        width: 48%;
                    }
                    .card-image > img {
                        height: 360px;
                    }
        /* Footer */
    }