/* Color: Light purple - #F3E9F2, Medium purple - B57096, Dark purple - #905BF9, Text - #24111F */

/* Global */
body {
    font-family: 'Montserrat', sans-serif;
    color: #24111F;
}
a {
    color: #24111F;
    text-decoration: none;
}
a:hover {
    color: #24111F;
}
a:visited {
    color: #24111F;
}
li {
    list-style: none;
}
.btn-primary {
    background-color: #B57096;
    color: #24111F;
    text-align: center;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 25px;
    margin: auto;
}


/* Mobile First */
    /* Header */
        header {
            background-color: #F3E9F2;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        nav > a {
            width: 200px;
        }
        nav img {
            width: 90%;
            height: auto;
        }
        #nav-icon {
            color: #565656;
        }
        .fa-shopping-bag {
            font-size: 1.7em;
            padding-right: 20px;
        }
        .nav-link {
            position: relative;
        }
        .nav-link span {
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            text-align: center;
            font-size: 0.7em;
            color: #FFF;
            position: absolute;
            top: 17.5px;
            left: 2.1px;
        }
        
    /* Main */
        /* index.html */
            /* Section 1: Presentation */
                .jumbotron {
                    position: relative;
                }
                .jumbotron img {
                    width: 100%;
                    height: 100%;
                }
                .jumbotron > .jmb-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    opacity: 0.8;
                    text-align: center;
                    text-shadow: 1px 1px 2px #24111F;
                }
                .jmb-text h1 {
                    color: #F3E9F2;
                    font-size: 2.7em;
                    font-weight: 600;
                }
                .jmb-text h1 span {
                    color: #905BF9;
                }
                .jmb-text h2 {
                    color: #F3E9F2;
                    font-size: 1.2em;
                    font-weight: 600;
                }
            /* Section 2: Products */
                #cards {
                    display: flex;
                    flex-direction: column;
                }
                #products__card {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                }
                .card-image {
                    height: 100%;
                    max-height: 330px;
                    overflow: hidden;
                }
                #products__card > .card-image > img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                }
                .card-body {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .card-body h3, h4 {
                    font-size: 1.3em;
                }
                .products--error {
                    font-size: 5em;
                    color: #999;
                    margin: 40px 0 40px 0;
                } 
        /* produit.html */
            /* Section 4: Product description */
                .card__description--image > img {
                    width: 100%;
                    height: auto;
                }
                .card__description--info {
                    padding-left: 10px;
                }
                #description__id {
                    font-size: 0.8em;
                }
                #description__option {
                    width: 180px;
                    height: 25px;
                }
                #description__quantity {
                    width: 172px;
                    height: 25px;
                }
                .card__button {
                    display: flex;
                    width: 250px;
                    margin: 20px auto 30px auto;
                }
                .card__button:hover .btn-primary {
                    background-color: #905BF9;
                    border: none;
                }
        /* panier.html */
            /* Section 5: Cart */
                .cart-img {
                    width: 100px;
                    height: 65px;
                }
                .fa-minus-square, .fa-plus-square, .fa-trash-alt {
                    cursor: pointer;
                }
            /* Section 6: Order form */
                .panier__button {
                    text-align: center;
                    width: 250px;
                    margin: 20px auto 30px auto;
                }
                .panier__button button {
                    line-height: 0;
                }
                .panier__button:hover .btn-primary {
                    background-color: #905BF9;
                    border: none;
                } 
        /* confirmation.html */
            /* Section 7: Confirmation */
                .confirmation > i {
                    font-size: 5em;
                    color: #B57096;
                    margin: 30px 0 40px 0;
                } 
                .confirmation > h2 {
                    margin-bottom: 40px;
                }
    /* Footer */
        footer {
            background-color: #F3E9F2;
            margin: 0;
        }
        footer p {
            font-size: 1em;
        }


/* Responsive Web */
    /* Mobile Extra-Small */
    @media (max-width: 320px) {
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 2.2em;
                    }
                    .jmb-text h2 {
                        font-size: 1em;
                    }
                /* Section 2: Products */
                    .card-body h3, h4 {
                        font-size: 1.1em;
                    }
            /* produit.html */
                /* Section 4: Product description */
                    #description__option {
                        width: 130px;
                    }
                    #description__quantity {
                        width: 122px;
                    }
                    .btn-primary {
                        width: 90%;
                    }
    }

    /* Between Mobile and Tablette : 1 */
    @media screen and (min-width: 450px) and (max-width: 580px) { 
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 2.9em;
                    }
                    .jmb-text h2 {
                        font-size: 1.3em;
                    }
                /* Section 2: Products */
                    .card-image {
                        max-height: 400px;
                    }
            /* produit.html */
                /* Section 4: Product description */
                #description__option {
                    width: 220px;
                }
                #description__quantity {
                    width: 212px;
                }
    }

    /* Between Mobile and Tablette : 2 */
    @media screen and (min-width: 581px) and (max-width: 767px) {
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 3.3em;
                    }
                    .jmb-text h2 {
                        font-size: 1.5em;
                    }
                /* Section 2: Products */
                    .card-image {
                        max-height: 550px;
                    }
            /* produit.html */   
                /* Section 4: Product description */
                    .customer_input {
                        display: flex;
                        flex-direction: row;
                    }
                    .option {
                        width: 60%;
                    }
                    .quantity {
                        width: 40%;
                    }
                    #description__option {
                        width: 180px;
                    }
                    #description__quantity {
                        width: 100px;
                    }
    }

    /* Tablette */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /* Header */  
            nav img {
                width: 100%;
            }
            .fa-shopping-bag {
                padding-right: 25px;
            }
        /* Main */
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 5em;
                    }
                    .jmb-text h2 {
                        font-size: 1.73em;
                    }
                /* Section 2: Products */
                    #cards {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    #products__card {
                        width: 48%;
                    }
                    .card-image {
                        max-height: 230px;
                    }
                    .card-body h3, h4 {
                        font-size: 1.2em;
                    }
            /* produit.html */
                /* Section 4: Product description */
                    .customer_input {
                        display: flex;
                        flex-direction: row;
                    }
                    .option {
                        width: 60%;
                    }
                    .quantity {
                        width: 40%;
                    }
                    #description__option {
                        width: 180px;
                    }
                    #description__quantity {
                        width: 100px;
                    }
    }

    /* Desktop */
    @media screen and (min-width: 992px) {
        /* Header */  
            nav img {
                width: 100%;
            }
            .fa-shopping-bag {
                padding-right: 25px;
            }
        /* Main */
            /* Max-width */
            #products, #products__description, #cart, #order-form, #confirmation {
                max-width: 1280px;
                margin: 0 auto;
            }
            /* index.html */
                /* Section 1: Presentation */
                    .jmb-text h1 {
                        font-size: 6.5em;
                    }
                    .jmb-text h2 {
                        font-size: 1.5em;
                    }
                /* Section 2: Products */
                    #cards {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    #products__card {
                        width: 49%;
                    }
                    .card-image {
                        max-height: 305px;
                    }
            /* produit.html */
                /* Section 4: Product description */
                    .card__description {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    .card__description--image, .card__description--info {
                        width: 50%;
                    }
                    .card__description--info {
                        padding: 0 15px;
                    }
                    .customer_input {
                        display: flex;
                        flex-direction: row;
                    }
                    .option {
                        width: 60%;
                    }
                    .quantity {
                        width: 40%;
                    }
                    #description__option {
                        width: 170px;
                    }
                    #description__quantity {
                        width: 80px;
                    }
    }

    @media screen and (min-width: 1100px) {
         /* produit.html */
        .card-image {
            max-height: 340px;
        }
    }

    @media screen and (min-width: 1200px) {
        /* produit.html */
       .card-image {
           max-height: 370px;
       }
   }